body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
/* section{
    display: flex;
} */
.box2{
width: 50%;
padding-left: 5%;
}
.box2 img{
    width: 80%;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    /* background-color: orange; */
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top{
    display: flex;
    background-image:url("top-banner.png");
    background-repeat: no-repeat;
}
.med{
    display: flex;
    margin-top: 100px;
    background-image:url("dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.box3{
    border-left: 10px solid ;
    border-image:linear-gradient(blue,cyan);
    border-image-slice:1;
    width: 50%;
    padding-left: 5%;
    box-shadow: 10px 10px 10px 10px gray;
margin-left: 5%;

margin-right: 5%;    
}
.bot{
    
    margin-top: 100px;
    background-image:url("exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.c{
    display: flex
}